.CurrencyConversionBox
{
    width: 1015px;
    min-height: 100px;
    margin-left: 455px;
    margin-top: 99px;
    .CurrencyConversionAll {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .CurrencyConversionLeft {
            display: flex;
            justify-content: space-between;
            width: 450px;
            span,p{
                min-width:49px;
                height:16px;
                font-size:20px;
                font-family:Roboto;
                font-weight:500;
                color:rgba(255,255,255,1);
                line-height:36px;
                text-align: left;
            }
          
        }
        .CurrencyConversionRight {
            width: 450px;
            span {
                width:76px;
                height:16px;
                font-size:20px;
                font-family:Roboto;
                font-weight:500;
                color:rgba(255,255,255,1);
                line-height:36px;
            }
        }
       
    }
    .SelectionBoxAll{
        width: 100%;
        height: 84px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .SelectionBoxUsdtRed,.SelectioBoxUstxRed{
            border: 1px solid red;

        }
        .SelectionBoxUsdtLeft {
          
            transform: translateX(560px);
            transition: transform 0.5s;
        }
        .SelectionBoxUsdtRight{
            transform: translateX(-560px);
            transition: transform 0.5s;
        }
        .SelectionBoxUsdt {
            transform: translateX(0);
            transition: transform 0.5s;
        }
        .SelectionBoxUstx {
            transform: translateX(0);
            transition: transform 0.5s;
        }
        .SelectionBoxUsdt,.SelectionBoxUstx,.SelectionBoxUsdtLeft,.SelectionBoxUsdtRight,.SelectioBoxUstxRed,.SelectionBoxUsdtRed{
            width:450px;
            height:84px;
            background:rgba(255,255,255,1);
            border-radius:6px;
            display: flex;
            .SelectionBoxUsdtMoeny {
                margin-left: 20px;
                line-height: 84px;
                display: flex;
                .ustdLogo {
                    width: 34px;
                    height: 34px;
                    margin-top: 25px;
                }
                span{
                    display: block;
                    width:50px;
                    height:16px;
                    font-size:20px;
                    font-family:Roboto;
                    font-weight:500;
                    color:rgba(75,82,125,1);
                    margin-left: 9px;
                }
                .selectionDownload {
                    width: 9px;
                    height: 6px;
                    margin-top: 39px;
                    margin-left: 7px;
                }
                .selectionLock {
                    width: 20px;
                    height: 24px;
                    margin-top: 30px;
                    margin-left: 8px;
                }
                .selectionNone{
                    display: none;
                }
            }
          
           input::-webkit-input-placeholder {text-align: right;}
           input {
               border: none;
               outline: none;
                flex: 1;
               margin-right: 20px;
           }
        }
        p {
            width: 29px;
            height: 30px;
            margin-top: 27px;
        }
         
        .SelectionBoxUstx,.SelectionBoxUsdtRight,.SelectioBoxUstxRed{
            width:450px;
            height:84px;
            background:rgba(255,255,255,1);
            border-radius:6px;
            .ustXLogo {
                width: 34px;
                height: 34px;
                margin-top: 25px;
            }
        }
    }
.DropDwownWrapperNone {
    display: none;
}
.DropDwownWrapper,.DropDwownRight
{
    width:450px;
    height:364px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(234, 236, 243, 1);
    box-shadow:0px 7px 20px 0px rgba(7,2,55,0.08);
    border-radius:4px;
    position: absolute;
    top: 475px;
    left: 455px;
    z-index: 999;
    display: none;
  .ulist {
      width: 100%;
      list-style: none;
      li {
          border-bottom: 1px solid #ccc;
          width: 100%;
          height: 90px;
          padding-left: 20px;
          line-height: 90px;
          display: flex;
          justify-content: space-between;
          .DropdownTerm {
            min-width:174px;
            height:19px;
            display: flex;
              img {
                  width: 34px;
                  height: 34px;
                  margin-top: 28px;
              }
              p {
                    margin-left: 9px;
                    font-size:20px;
                    font-family:Roboto;
                    font-weight:500;
                    color:rgba(75,82,125,1);
                   span {
                       color: #ccc;
                       margin-left: 9px;
                   }
              }
             
          }
          .CheckMark {
            width: 22px;
            height: 14px;
            margin-right: 36px;
           
        }
      }
  }
}
    .DropDwownRight {
        width:450px;
        height:364px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(234, 236, 243, 1);
        box-shadow:0px 7px 20px 0px rgba(7,2,55,0.08);
        border-radius:4px;
        position: absolute;
        top: 475px;
        left: 1015px;
        z-index: 999;
        display: none;
    }
    .ConnectingWrapper {
        width: 100%;
        .ButtonSwap {
            width:430px;
            height:76px;
            background:rgba(41,187,146,1);
            box-shadow:0px 10px 25px 0px rgba(44,198,154,0.2);
            border-radius:38px;
            margin-left: 325px;
            margin-top: 100px;
            p {
                margin: 0 auto;
                width:66px;
                height:19px;
                line-height: 76px;
                font-size:24px;
                font-family:Roboto;
                font-weight:bold;
                color:rgba(255,255,255,1)
            }
    }
    .ButtonSwapgray {
            width:430px;
            height:76px;
            background:rgba(78,83,128,1);
            border-radius:38px;
            margin-left: 325px;
            margin-top: 100px;
            p {
                margin: 0 auto;
                width:66px;
                height:19px;
                line-height: 76px;
                font-size:24px;
                font-family:Roboto;
                font-weight:bold;
                color: #8289BF;
            }
    }
    .ConnectingBox {
        display: none;    
     }
    }
    .ConnectingBoxShow {
        display: block;
        position: fixed;
        left: 852px;
        top: 500px;
        min-width:248px;
        height:18px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 18px;
            height: 16px;
            margin-top: 60px;
       }
        span {
                font-size:18px;
                font-family:Roboto;
                font-weight:400;
                color:rgba(246,151,38,1);
                margin-left: 5px;
                margin-top: 60px;
        }
        
    }
}