
.HistoricalRecordAll {
    width: 1010px;
    height: 215px;
    margin-left: 455px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    .historyTitle {
        span {
            width:82px;
            height:16px;
            font-size:20px;
            font-family:Roboto;
            font-weight:500;
            color:rgba(255,255,255,1);
        }
    }
    .histroyWrapper {
        width:1010px;
        height:180px;
        background:rgba(45,49,84,1);
        border-radius:6px;
        display: flex;
        .historySetpbar {
            display: flex;
            flex-direction: column;
            margin-left: 24px;
             .histroycircular{
                width:34px;
                height:34px;
                background:rgba(41,187,146,.3);
                opacity:0.3;
                border-radius:50%;
                display:flex;
                justify-content:center;
                align-items:center;
                margin-top: 31px;
                    div{
                        width:17px;
                        height:17px;
                        background:rgba(41,187,146,1)!important;
                        border-radius:50%;
                        z-index: 99;
                    }
             }
             .DottedLine {
                border:1px dashed #cfcfcf;
                 height:41px;
                 width:1px;
                 margin: 5px 0 5px 16px;
             }
             .CheckMarkborder {
                 width: 34px;
                 height: 34px;
                 border: 1px solid rgb(41, 44, 65);
                 border-radius: 50%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 img {
                     width: 17px;
                     height: 17px;
                 }
             }
        }
        .histroyWritten {
            margin-left: 18px;
            .histroyTop {
                margin-top: 29px;
                span {
                    color:#7479A8 ;
                }
                .histroyEspecially {
                    color: #29BB92;
                }
                p {
                   
                    font-size:18px;
                    font-family:Source Han Sans CN;
                    font-weight:500;
                    color:rgba(222,224,247,1);
                }
            }
            .histroyBottom {
                span {
                    color:#7479A8 ;
                }
                .histroyEspecially {
                    color: #29BB92;
                }
                p {
                    font-size:18px;
                    font-family:Source Han Sans CN;
                    font-weight:500;
                    color:rgba(222,224,247,1);
                }
            }
        }
        
        
    }
   
    
}