.usdxTitle {
    width:853px;
    height:56px;
    margin-left: 533px;
    margin-top: 101px;
    p {  
            font-size:55px;
            font-family:Roboto;
            font-weight:bold;
            color:rgba(255,255,255,1);
            
        }
}
