.EquivalentExchange {
    display: flex;
    width: 254px;
    position: fixed;
    top: 475px;
    left: 455px;
    span {
        height:13px;
        font-size:18px;
        display: block;
        font-family:Roboto;
        font-weight:400;
        color:rgba(120,128,177,1);
        line-height: 13px;
    }
    img {
        widows: 18px;
        height: 18px;
        margin-top: -5px;
        margin-left: 5px;
    }
}