// >768
@media screen and (min-width: 768px) {
    .history-title {
        width: 710px;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(37, 33, 82, 1);
        // background-color: red;
    }

    .history {
        max-height: 255px;
        width: 710px;
        margin: 0 auto;
        background-color: #2D3154;
        overflow: auto;
        margin-bottom: 40px;
        background: rgba(255, 255, 255, 1);
        border-radius: 5px;
        // border: 1px solid rgba(229, 230, 242, 1);
        padding-top: 10px;

        .history-item {
            height: 54px;
            // background-color: red;
            margin-bottom: 5px;

            .history-item-left {
                float: left;
                padding-left: 15px;
                padding-top: 16px;
                position: relative;

                img {
                    width: 26px;
                }

                img.rotate {
                    animation: icon-loading 0.8s linear infinite;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 28px;
                    bottom: -31px;
                    display: block;
                    width: 0px;
                    height: 33px;
                    border-left: 1px dashed #6A6F94;
                }
            }

            .history-item-right {
                float: left;
                padding-left: 15px;
                padding-top: 12px;
                font-weight: 500;

                .history-item-right-top {
                    font-size: 12px;
                    color: rgba(116, 121, 168, 1);

                    .tx_date {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            right: -15px;
                            bottom: 1px;
                            display: block;
                            width: 1px;
                            height: 14px;
                            background-color: #7479A8;
                        }
                    }

                    .tx_hash {
                        margin-left: 30px;
                        color: #5F85FF;
                        cursor: pointer;
                    }
                }

                .history-item-right-bottom {
                    padding-top: 6px;
                    font-size: 14px;
                    color: rgba(222, 224, 247, 1);
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(37, 33, 82, 1);
                }
            }
        }

        .history-item:last-child {
            .history-item-left {
                &::after {
                    display: none;
                }
            }
        }

        .no-history {
            text-align: center;
            padding-top: 10px;

            img {
                width: 41px;
            }

            .no-history-span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: rgba(109, 107, 133, 1);
                line-height: 42px;
            }
        }
    }
}

@keyframes icon-loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// 
@media screen and (max-width: 767px) {
    .history-title {
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(37, 33, 82, 1);
        // background-color: red;
        width: 94%;
        margin: 0 auto;
    }

    .history {
        max-height: 255px;
        width: 94%;
        margin: 0 auto;
        background-color: #2D3154;
        overflow: auto;
        margin-bottom: 32px;
        background: rgba(255, 255, 255, 1);
        border-radius: 5px;
        // border: 1px solid rgba(229, 230, 242, 1);
        padding-top: 10px;

        .history-item {
            height: 54px;
            // background-color: red;
            margin-bottom: 5px;

            .history-item-left {
                float: left;
                padding-left: 10px;
                padding-top: 12px;
                position: relative;

                img {
                    width: 20px;
                }

                img.rotate {
                    animation: icon-loading 0.8s linear infinite;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 20px;
                    bottom: -37px;
                    display: block;
                    width: 0px;
                    height: 39px;
                    border-left: 1px dashed #6A6F94;
                }
            }

            .history-item-right {
                float: left;
                padding-left: 10px;
                padding-top: 12px;
                font-weight: 500;
                // background-color: red;
                max-width: 85%;

                .history-item-right-top {
                    font-size: 12px;
                    color: rgba(116, 121, 168, 1);

                    .tx_date {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            right: -10px;
                            bottom: 1px;
                            display: block;
                            width: 1px;
                            height: 14px;
                            background-color: #7479A8;
                        }
                    }

                    .tx_hash {
                        margin-left: 20px;
                        color: #5F85FF;
                        cursor: pointer;
                    }
                }

                .history-item-right-bottom {
                    padding-top: 6px;
                    font-size: 14px;
                    color: rgba(222, 224, 247, 1);
                    font-weight: 500;
                    color: rgba(37, 33, 82, 1);

                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    // width: 70%;
                    // background-color: red;
                }
            }
        }

        .history-item:last-child {
            .history-item-left {
                &::after {
                    display: none;
                }
            }
        }

        .no-history {
            text-align: center;
            padding-top: 10px;

            img {
                width: 41px;
            }

            .no-history-span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: rgba(109, 107, 133, 1);
                line-height: 42px;
            }
        }
    }
}